# Handling Imbalance Dataset

1. Up Sampling
2. Down Sampling

In [1]:
import numpy as np
import pandas as pd
# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [6]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET

class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2' :np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature2': np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1] * n_class_1
})

In [7]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [8]:
df.head()

   feature_1  feature2  target  feature1
0  -1.085631  0.551302       0       NaN
1   0.997345  0.419589       0       NaN
2   0.282978  1.815652       0       NaN
3  -1.506295 -0.252750       0       NaN
4  -0.578600 -0.292004       0       NaN

In [9]:
df.tail()

     feature_1  feature2  target  feature1
995        NaN  2.845701       1  1.376371
996        NaN  0.880077       1  2.239810
997        NaN  1.640703       1  1.131760
998        NaN  0.390305       1  2.902006
999        NaN  2.013570       1  2.697490

In [10]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [29]:
## upsampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [16]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority,replace=True,#Sample With replacement
         n_samples = len(df_majority),
         random_state=42
         )

In [20]:
df_minority_upsampled.shape

(900, 4)

In [21]:
df_minority_upsampled.head()

     feature_1  feature2  target  feature1
951        NaN  1.843917       1  1.125854
992        NaN  1.397425       1  2.196570
914        NaN  2.998053       1  1.932170
971        NaN  3.034197       1  2.272825
960        NaN  1.550485       1  2.870056

In [24]:
df_unsampled = pd.concat([df_majority,df_minority_upsampled])

In [25]:
df_unsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [27]:
## Down Sampling

In [28]:
import numpy as np
import pandas as pd
# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

## CREATE MY DATAFRAME WITH IMBALANCED DATASET

class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2' :np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature2': np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1] * n_class_1
})

df = pd.concat([class_0,class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [30]:
## unsampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [37]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority,replace=True,#Sample With replacement
         n_samples = len(df_minority),
         random_state=42
         )

In [38]:
df_majority_downsampled.shape

(100, 4)

In [41]:
df_downsampled = pd.concat([df_minority,df_majority_downsampled])