## SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manuplating relational databases.
SQLite is a self-contained,serverless,and zero-configuration database engine that is widely used for embedded database systems.

task :

creating databases,tables,and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
## connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text
               )
''')

## Commit the changes
connection.commit()

In [5]:
cursor.execute('''
Select * from employees
''')

In [6]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Madhu',18,'CSE')
''')
cursor.execute('''
Insert Into employees(name,age,department)
               values('Paul',19,'CSE')
''')
cursor.execute('''
Insert Into employees(name,age,department)
               values('Charlie',19,'Finance')
''')
connection.commit()

In [7]:
## commit the changes
connection.commit()

In [8]:
## Query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Madhu', 18, 'CSE')
(2, 'Paul', 19, 'CSE')
(3, 'Madhu', 18, 'CSE')
(4, 'Paul', 19, 'CSE')
(5, 'Charlie', 22, 'Finance')
(6, 'Madhu', 18, 'CSE')
(7, 'Paul', 19, 'CSE')
(8, 'Charlie', 22, 'Finance')
(9, 'Madhu', 18, 'CSE')
(10, 'Paul', 19, 'CSE')
(11, 'Charlie', 22, 'Finance')
(12, 'Madhu', 18, 'CSE')
(13, 'Paul', 19, 'CSE')
(14, 'Charlie', 19, 'Finance')

In [9]:
## Update the data in the table
cursor.execute('''
UPDATE employees
Set age = 22
where name = "Charlie"
''')

connection.commit()

In [10]:
## Query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Madhu', 18, 'CSE')
(2, 'Paul', 19, 'CSE')
(3, 'Madhu', 18, 'CSE')
(4, 'Paul', 19, 'CSE')
(5, 'Charlie', 22, 'Finance')
(6, 'Madhu', 18, 'CSE')
(7, 'Paul', 19, 'CSE')
(8, 'Charlie', 22, 'Finance')
(9, 'Madhu', 18, 'CSE')
(10, 'Paul', 19, 'CSE')
(11, 'Charlie', 22, 'Finance')
(12, 'Madhu', 18, 'CSE')
(13, 'Paul', 19, 'CSE')
(14, 'Charlie', 22, 'Finance')

In [11]:
## Delete the data from the table
cursor.execute('''
Delete from employees
               where name = 'Charli'
''')
connection.commit()

In [12]:
## Query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Madhu', 18, 'CSE')
(2, 'Paul', 19, 'CSE')
(3, 'Madhu', 18, 'CSE')
(4, 'Paul', 19, 'CSE')
(5, 'Charlie', 22, 'Finance')
(6, 'Madhu', 18, 'CSE')
(7, 'Paul', 19, 'CSE')
(8, 'Charlie', 22, 'Finance')
(9, 'Madhu', 18, 'CSE')
(10, 'Paul', 19, 'CSE')
(11, 'Charlie', 22, 'Finance')
(12, 'Madhu', 18, 'CSE')
(13, 'Paul', 19, 'CSE')
(14, 'Charlie', 22, 'Finance')

In [13]:
## Working with Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT
               )
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West')
]

connection.executemany('''
Insert into sales(date,product,sales,region)
                       values(?,?,?,?)
''',sales_data)

connection.commit()

In [15]:
## Query the data from the table
cursor.execute('Select * from sales')
rows = cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')

In [16]:
## close the connection
connection.close()